{% extends 'base.html' %}

{% block content %}
<script type="text/javascript">
const url_id = {{ url_id|tojson|safe }}

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<style>
#err {
  display: none;
  padding: 5px;
  margin: 5px;
  color: red;
}

</style>

<div class="container-fluid">
    <div class="row justify-content-start">
        <h1 class="mt-4"> {{ url_name }} </h1>
    </div>

    <div class="row justify-content-start">
        <h2 class="mt-4"> Schedule </h2>
        <div id="err"></div>
        <div class="col-12">
            <div id="chart_gantt" style="min-height: 100px; width:100%;"></div>
            <script src="{{ url_for('static', filename='js/project.js') }}"></script>
        </div>
    </div>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-overview-tab" data-bs-toggle="tab" data-bs-target="#nav-overview"
                    type="button" role="tab" aria-controls="nav-overview" aria-selected="true"> Overview
            </button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-description"
                    type="button" role="tab" aria-controls="nav-description" aria-selected="false"> Description
            </button>
            <button class="nav-link" id="nav-milestones-tab" data-bs-toggle="tab" data-bs-target="#nav-milestones"
                    type="button" role="tab" aria-controls="nav-milestones" aria-selected="false"> Milestones
            </button>
            <button class="nav-link" id="nav-tasks-tab" data-bs-toggle="tab" data-bs-target="#nav-tasks"
                    type="button" role="tab" aria-controls="nav-tasks" aria-selected="false"> Tasks
            </button>
            <button class="nav-link" id="nav-sprints-tab" data-bs-toggle="tab" data-bs-target="#nav-sprints"
                    type="button" role="tab" aria-controls="nav-sprints" aria-selected="false"> Sprints
            </button>
            <button class="nav-link" id="nav-results-tab" data-bs-toggle="tab" data-bs-target="#nav-results"
                    type="button" role="tab" aria-controls="nav-results" aria-selected="false"> Results
            </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">

            <div class="row justify-content-start">
                <h2 class="mt-4"> Overview </h2>
                <div class="col-12">
                    <div id="project_overview" style="min-height: 400px; width:100%;"></div>
                </div>
            </div>

        </div>
        <div class="tab-pane fade" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">

            <div class="row justify-content-start">
                <h2 class="mt-4"> Description </h2>
                <div class="col-12">
                    <div id="project_description" style="min-height: 400px; width:100%;"></div>
                </div>
            </div>

        </div>
        <div class="tab-pane fade" id="nav-milestones" role="tabpanel" aria-labelledby="nav-milestones-tab">

            <div class="row justify-content-start">
                <h2 class="mt-4"> Milestones </h2>
                <div class="col-12">
                    <div id="project_milestones" style="min-height: 400px; width:100%;"></div>
                </div>
            </div>

        </div>
        <div class="tab-pane fade" id="nav-tasks" role="tabpanel" aria-labelledby="nav-tasks-tab">

            <div class="row justify-content-start">
                <h2 class="mt-4"> Tasks </h2>
                <div class="col-12">
                    <div id="project_tasks" style="min-height: 400px; width:100%;"></div>
                </div>
            </div>

        </div>
         <div class="tab-pane fade" id="nav-sprints" role="tabpanel" aria-labelledby="nav-sprints-tab">

            <div class="row justify-content-start">
                <h2 class="mt-4"> Sprints </h2>
                <div class="col-12">
                    <div id="project_sprints" style="min-height: 400px; width:100%;"></div>
                </div>
            </div>

        </div>
         <div class="tab-pane fade" id="nav-results" role="tabpanel" aria-labelledby="nav-results-tab">

            <div class="row justify-content-start">
                <h2 class="mt-4"> Results </h2>
                <div class="col-12">
                    <div id="project_results" style="min-height: 400px; width:100%;"></div>
                </div>
            </div>

        </div>
    </div>

    <!--    {% include 'snippets/form.html' %}-->
</div>

{% endblock content %}